<nav class="navbar shadow bg-body-tertiary">
  <div class="nav-title-container"><i class="fa-solid fa-house house-icon"></i><h2>Simple Airbnb</h2></div>
  <div class="btn-white"><p class="btn btn-light"><a href="<%= new_flat_path %>" style="text-decoration:none" >Add Flat</a></p></div>
</nav>
<h1 class="index-title">All our Flats(<%= @flats.length %>)</h1>
<div>
  <div class="container text-center">
    <% @flats.each do |flat| %>
      <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top"/>
        <div class="card-body">
          <h5 class="card-title"><a href="<%= flat_path(flat) %>" style="text-decoration:none" ><%=flat.name%></a></h5>
          <p class="card-text"><%=flat.description%></p>
          <p class="card-text"><%=flat.address%></p>
          <p class="card-text"><i class="fa-solid fa-euro-sign"></i> <%=flat.price_per_night%></p>
          <p class="card-text"><i class="fa-solid fa-user-group"></i> <%=flat.number_of_guests%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
